@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
  font-family: "Jersey 10", system-ui;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./berserk.jpg");
}











.open-popup-btn {
  position: fixed;
  top: -6px;
  right: -6px;
  padding: 5px 5px;
  background-color: black;
  border: none;
  border-radius: 5px;
  z-index: 9999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}

.popup.show {
  display: block;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}
